
@media only screen and (max-width: 800px) {
    .main {
        display: flex;
        justify-items:center;
        align-items: center;
        align-self: center;

        flex-direction: column;
    }
    .inner {
        align-items: center;
        display: grid;
        justify-items: center;
    
    }
    img{
        max-width: 75%;
    }

    p {
        font-size: 24px;
        max-width: 45%;
    }
    
    
}

@media only screen and (min-width: 1000px) {
    .main {
        display: flex;
    }
    .inner {
        width: 50%;
        align-items: center;
        display: grid;
        justify-items: center;
    
    }
    img{
        max-width: 50%;
    }  
    p {
        margin: 8rem;
    }
    
    
}





body {
    background: #FFF4E4;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #3b220f;
    padding: 2rem;
    font-size: 24px;

}

a {
    font-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #3b220f;

}

a:hover {
    cursor: pointer;
    color: #954d0e;

}

button {
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #3b220f;
    color: white;
    border: none;
     height: 20rem;
        font-size: 50px;
        padding:5rem;
        margin: 10rem;

}
button:hover {
    cursor: pointer;
    background-color: #954d0e;
    color: white;
}