<!DOCTYPE html>
<html>
  <head>
    <title>Hoabean</title>
    <link rel="stylesheet" href="/assets/css/hoabean.css">
    <link rel="icon" type="image/x-icon" href="/assets/hoabeanlogo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <body>
      <div class="main">
        <div class="inner">
          <img src="/assets/hoabean.png" />
          <p>
          Coffee, we all drink it, well at least most of us do. For some, it is their reason for being, the elixir of life that sustains their daily function of getting the courage to use Auckland transport. For some, coffee is a craft, from the way it envelops their mouth, the tannins tantalizing their tongue, awakening something deep inside of them with every gulp, while for others, it's a gruel for a means of survival.
          <br><br>
          Hoabean aims to help people find their perfect cup of joe no matter where they are in a fast and convenient fashion. Whether You are a coffee connoisseur, barista, or someone who drinks it occasionally
          <br><br>
          I want to hear from you! Fill out the form below or use the form to the right to set up an in-person/online interview. Feel free to contact me directly at
          <a href="mailto:bernie@whiterabbit.com">bernie@whiterabbit.com</a>
          </p><button type="button" onclick="location.href='https://form.jotform.com/230810575106853'">Lets Chat!</button>
        </div>
        <div class="inner">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd1FUBhgemsarfw0gXeCIjPpSxucLwPELC4X47G7mUIuXdlPQ/viewform?embedded=true" width="900" height="1235" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>        </div>
 </div>      
<a href="https://whiterabbit.com/"> <--- back to the rabbit...</a>
      </div>
    </body>
  </head>
</html>
